.main {
	width: 100%;
	height: auto;
	background: #1C0772;
}

/*modal window*/
.main_model {
  position: absolute;
  width: 100%;
  max-width: 700px;
  min-width: 450px;
  height: 600px;
  display: none;
  background: #1C0772;
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
}
.closeBtn:hover {
  cursor: pointer;
  color: #A68700;
}
/*Button close*/
.cl-btn-2 {
    margin: 15px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.window-static {
  width: 100%;
  height: 97%;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.main_static {
  width: 20%;
  height: 25%;
  margin: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.ttt-grid-static {
  width: 33.33%;
  border: 2px solid #fff;
  box-sizing: border-box;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #fff;
}
.message-icon {
  width: 100%;
  height: 50px;
  margin-top: 2%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.icon-message {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.message {
	width: 70%;
	text-align: center;
	font-size: 25px;
	color: #fff;
}
.icons {
  width: 15%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  #c33124;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.icons:hover {
  background:  #fb4c1f;
  cursor: pointer;
}
.tic-tac-toe {
	width: 300px;
	height: 300px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 50px auto;
}
.ttt-grid {
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
	box-sizing: border-box;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #fff;
}
/* Draw winning line*/
.board {
  position: relative;
}
.board::after {
  content: '';
  position: absolute;
  background-color: #fb4c1f;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
}
/* Horizonal Lines */
.board.h::after {
  width: 0%;
  height: 3px;
  left: 0;
  transform: translateY(-50%);
}
.board.h.full::after {
  width: 100%;
}
.board.h0::after {
  top: calc(100% / 6);
}
.main>.board.h1::after {
  top: 50%;
}
.board.h2::after {
  top: calc(5 * 100% / 6);
}
/* Vertical Lines */
.board.v::after {
  height: 0%;
  width: 3px;
  top: 0;
  transform: translateX(-50%);
}
.board.v.full::after {
  height: 100%;
}
.board.v0::after {
  left: calc(100% / 6);
}
.board.v1::after {
  left: 50%;
}
.board.v2::after {
  left: calc(5 * 100% / 6);
}
/* Diagonal Lines */
.board.d0::after {
  height: 0%;
  width: 3px;
  left: 0;
  top: 0;
  transform: rotateZ(-45deg);
  transform-origin: 50% 0;
  transition: height 0.7s;
  -webkit-transition: height 0.7s;
  -moz-transition: height 0.7s;
  -o-transition: height 0.7s;
}
.board.d0.full::after {
  height: 140%;
}
.board.d1::after {
  height: 0%;
  width: 3px;
  right: 0;
  top: 0;
  transform: rotateZ(45deg);
  transform-origin: 50% 0;
  transition: height 0.7s;
  -webkit-transition: height 0.7s;
  -moz-transition: height 0.7s;
  -o-transition: height 0.7s;
}
.board.d1.full::after {
  height: 140%;
}
.current_stat {
  width: 100%;
  height: auto;
  margin-bottom: 2%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  color: #fff;
}
.current-button-table {
  width: 67%;
  height: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.current_stat table {
  border-collapse: collapse;
}
.current_stat table,
.current_stat th,
.current_stat td {
  border: 1px solid #fff;
  padding: 5px 15px;
  text-align: center;
}
.btn_autoplay {
  width: 60%;
  height: auto;
  margin-top: 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.autoplay {
  width: 60%;
  height: 35px;
  font-size: 18px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #c33124;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.autoplay:hover {
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  color: #f0f0f0;
  background: #fb4c1f;
}
.static {
  width: 60%;
  height: 35px;
  display: flex;
  justify-content: center;
  margin: 0 0 2% 0;
}

.static button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: #c33124;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.static button:hover {
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  color: #f0f0f0;
  background: #fb4c1f;
}